
input[type=range].loading::-webkit-slider-thumb {
  opacity: 0.0;
}

html, body, #root {
  background-color: black;
  color: white;
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: white;
}

