
table {
  border-collapse: collapse;
  border: 1px solid black;
  border-spacing: 0;
  margin: 10px;
  min-width: 20em;
}

th {
  text-align: left;
}

td,
th {
  padding: 10px;
}

td {
  border: none;
}

.usePointer:hover {
  cursor: pointer;
}

